<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .cointainer{
        width: 300px;
        padding: 20px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
        text-transform: uppercase;
    }
    
    .group {
        margin-bottom: 15px;
    }
    
    label {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
        color: #333;
        text-transform: uppercase;
    }
    
    input {
        min-width: 300px;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input:focus {
        border-color: #007BFF;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    button.submitbtn {
        width: 100%;
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 10px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
    }
    
    button.submitbtn:hover {
        background-color: #0056b3;
    }
    
    
        </style>
</head>
<body>
    <div class="cointainer">
        <h2>login</h2>
        <form action="/login" method="post">
            <div class="group">
                <label for="name">NAme</label>
                <input type="text" name="name" id="name" placeholder="Name" required>
            </div>
            <div class="group">
                <label for="password">password</label>
                <input type="password" name="password" id="password" placeholder="Password" maxlength="8" required>
            </div>
            <button type="submit" class="submitbtn">submit</button>
        </form>
        <p>Don't have a account <a href="/signup">signup</a></p>
    </div>
</body>
</html>